# Terraform files
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Ignore override files as they are usually local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Backup files
*.bak
*.tmp
*.swp
